{% extends 'base.html.twig' %}

{% block title %}{{ myArticle.name }}{% endblock %}

{% block body %}
    <h1>
        {{ myArticle.name }}

        <table>
            <tr>
                <th>Name</th>
                <td>
                    {{ myArticle.name }}
                </td>
            </tr>
            <tr>
                <th>Class</th>
                <td>{{ myArticle.class }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ myArticle.size }}</td>
            </tr>
            <tr>
                <th>Size</th>
                <td>{{ myArticle.status }}</td>
            </tr>
        </table>
    </h1>
{% endblock %}